@{
    ViewData["Title"] = "Home Page";
}

<head>

    <style>
        .texto {
            display: inline-flex;
        }

            .texto > li {
                list-style: none;
                padding-left: 50px;
            }

    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Bienvenido a mi proyecto</h1>

    <div>
        <p>Proyecto realizado en ASP.NET Core 6</p>
        <p>Utilizando el modelo <a href="https://developer.mozilla.org/es/docs/Glossary/MVC" target="_blank">MVC</a></p>
        <p>Utilizando utilidades de entity framework</p>
        <p>Ademas de utilizar usar Vendor HTML templates, CSS con Boostrap y Javascript con Jquery</p>

        <ul class="texto">
            <li>Matricula: 1970052</li>
            <li>Nombre: Roberto Ivan Aguirre Silerio</li>
            <li>IAS</li>
            <li>Proyecto Integrador B</li>
        </ul>


    </div>


</div>
